@import './variables';

.canvas {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  border: 1px solid $border-color;
  background-color: $canvas-color;
}