@import './variables';

.toolbar {
  height: $toolbar-height;
  background-color: $toolbar-background;
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  box-shadow: 0 4px 5px $shadow-color;

  &__btn {
    height: 25px;
    width: 25px;
    cursor: pointer;
    background-size: cover;
    margin-left: 10px;
    border: none;
    outline: none;

    &_brush {
      background: url('../assets/svg/brush.svg') no-repeat center center;
    }
  }

  &__size-input {
    margin: 0 10px;
  }

  &__color-picker {
    margin-left: 10px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
  }

  &_top-40 {
    top: $toolbar-height;
  }

  &_z-index-1 {
    z-index: 1;
  }

  &_z-index-2 {
    z-index: 2;
  }
}