// light theme colors
$app-background: #f6f6f6;
$canvas-background: #fff;
$toolbar-background: #fff;
$border-color: #000;
$shadow-color: #808080;
$canvas-color: #fff;

// toolbar styles
$toolbar-height: 40px;